:root {
  --branding-color: #142d4c;
  --secondary-color: #9fd3c7;
  --tertiary-color: #e6f4f1;
  --heading-font-family: 'Oleo Script', cursive;
  --default-font-family: 'Poppins', sans-serif;
}

.App .btn {
  display: inline-block;
}

.App .btn-branding {
  background-color: var(--branding-color);
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.App {
 color: var(--branding-color);
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 24px;
}
